@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?n1bcqa');
  src:  url('../fonts/icomoon.eot?n1bcqa#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n1bcqa') format('truetype'),
    url('../fonts/icomoon.woff?n1bcqa') format('woff'),
    url('../fonts/icomoon.svg?n1bcqa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"]{
  line-height: 1;
  display: inline-block; 
}
[class^="icon-"]::before, [class*=" icon-"]::before {
 
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block; 
  

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:not([data-useragent*='Android']){
  [class^="icon-"]::before, [class*=" icon-"]::before{
    text-rendering: optimizeLegibility;
  }
}

.icon-mail:before {
  content: "\f003";
}
.icon-map:before {
  content: "\f041";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook-f:before {
  content: "\f09a";
}

/* NO CAMBIAR EL ORDEN DE DE ESTOS ICONOS */

.icon-circle-down:before {
  content: "\f138";
}
.icon-circle-up:before {
  content: "\f139";
}
