/***************** STYLE *****************/

/* GENERAL */
body{
	background-color: lighten($gray,60%);
	font-family: $sans-serif;
	color: $gray;
	h1{
		font-size: 1.5rem;
		padding: .6em 0;
		text-align: center;
	}
	p,button{
		color: $color-text-ligthten;
		font-weight: 100;
		line-height: 1.3rem;
	}
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: $blue;
    box-shadow: transparent inset, transparent;
    outline: 0 none;
}



/** HTML ELEMENTS **/

/* HEADER */
#main-header{
		position: fixed;
		background-color: $white;
		width: 100%;
		z-index: 1;
		height: 5.25em;
		margin-top: -5.25em;

		.logo{
			display: inline-block;
			height: 5em;
			width: 17em;
		}
		.menu{
			margin-top: 1.4em;
			margin-right: 1.3em;	
			float: right;
			display: inline-block;
			width: 2.4em;
			height: 2.4rem;
			cursor: pointer;
		}


	nav{
		width: 100%;
		position:absolute;
		background-color: $menu-bg-color;
		text-transform: uppercase;
		
		font-family: $sans;
		font-size: 1.3rem;
		box-shadow:0 2px 4px lighten($gray, .8);
		text-align: center;
		top:0;
		display:none;
		z-index: 2;
		.nav__menu{
			padding: 1em 0;
			li:not(:last-child){
				padding-bottom: .5em;
			}
			li{
				color: $white;
			}
		}
		

		.sub-menu-servicios{
			font-style: $italic;					
			li{
				color: lighten($gray, 50);
				font-size: 1.1em;
			}
		}
		
		
		#icon-close{
				position:relative;
				cursor:pointer;
				.nav__box{
					position:absolute;
					background-color: $blue;
					font-size:3rem;
					width: 5rem;
					height:5rem;
					border-radius: 50%;
					line-height : 5rem;
					left: 50%;
					@include translate();
					box-shadow: 0 4px 3px lighten($gray, 35);
				}
			}
		a{
				display: block;
				padding: 1rem 0;
		}
		.nav__last-item{
			padding-bottom: 1.8rem;
		}
	}
}

/* WRAPPER_COVER */



.slider-flex{
	margin-top:5.25em;
	position: relative;
	display: flex;
	width: 100%;
	height: 28rem;
	font-size:1em;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../images/header.png");
	//background-color: $bg-header;
	//box-shadow: 0 4px 3px lighten($blue, 3);
	justify-content: center;
}

.cover{
	margin-top: 2em;
	display: flex;
	flex-direction: column;
}
.cover-reverse{
	position: relative;
	margin-top: 3em;
	display: flex;
	justify-content: flex-end;
	flex-direction: column-reverse;
}

/* NAME */

.name__objetivo{
	position: absolute;
	color: lighten($blue, 40);
	margin-left: .6em;
	font-size: 1rem;
	margin-top: 1.5em;
}
.name__vision{
	position: absolute;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	top: 8em;
	color: lighten($orange, 15);
	font-size: 1rem;
}
.name__idea{
	position: absolute;
	margin-left: 1.3em;
	top: 2em;
	color: $pink;
	font-size: 1rem;
}
.name__exito{
	position: absolute;
	margin-left: -.1em;
	top: 8.3em;
	color: lighten($blue, 10);
	font-size: 1.4rem;
}
.name__workgroup{
	position: absolute;
	color: lighten($green, 40);
	text-align: center;
	top: 10em;
	font-size: 1rem;
}

/* ARROWS */

.arrows{
	position: relative;
	width: 4.4em;
	height: 2em;
}
.arrow-objetivo{
	top: 2.7em;

	svg{
		fill: lighten($blue, 40); 
		width: 3.4em;
	}
}
.arrow-vision{
	 left: .2em;
	svg{
		fill:lighten($orange, 15);
	}
}
.arrow-idea{
	left: .1em;
	top: 1.2em;
	svg{
		fill: $pink;
	}
}
.arrow-exito{
	left: -1.3em;
	top: 4.2em;
	width: 5em;
	svg{
		fill: lighten($blue, 15);
	}
}
.arrow-workgroup{
	top: .5em;
	left: 1em;
	svg{
		fill: lighten($green, 40);
	}
}

/* GRANAJE */

.content-granaje-objetivo{
	position: relative;
	width: 4em;
	height: 4em;
	top: 2.6em;
	left: .5em;
}
.content-granaje-vision{
	position: relative;
	width: 5.3em;
	height: 5.3em;
	
}
.content-granaje-idea{
	position: relative;
	width: 5em;
	height: 5em;
	top: 1.2em;
}
.content-granaje-exito{
	position: absolute;
	width: 8em;
	height: 8em;
	top: 15em;
	margin-left: -3em;
}
.content-granaje-workgroup{
	position: relative;
	width: 7em;
	height: 7em;
	margin-left: 0;
}
.btn-header{
	position: absolute;
	margin-top:24em;
}
.giro{
	transition:10s ease;
	&:hover{
		transform: rotate(360deg);
	}
}
.giro_reverse{
	transition:10s ease;
	&:hover{
		transform: rotate(-360deg);
	}
}
.girar{
	animation: girar 25s ease infinite alternate;
}
.girar_reverse{
	animation: girar_reverse 25s ease infinite alternate;
	
}

@keyframes girar {
  0% {

      transform: rotate(0deg);
     }
  100% {
    
      transform: rotate(1720deg);
     }
  }
@keyframes girar_reverse {
  0% {
   
      transform: rotate(0deg);
     }
  100% {
     
      transform: rotate(-1720deg);
     }
  }

/* LINE */

.line{
	position: relative;
	width: 100%;
	height: .2em;
	margin-top: 0;
	span{
		@include translateX();
		width: 0;
		height: 0;
		border-right: 1.5em solid transparent; 
		border-left: 1.5em solid transparent;
	}
}
.line-blue{
	background-color: $blue;
	span{
		border-top: 1em solid $blue;
		
	}
}
.line-gray{
	margin-top: 1em;
	background-color: lighten($gray,60%);
	span{
		border-top: 1em solid lighten($gray,60%);
	}
}
.line-white{
	background-color: $white;
	span{
		border-top: 1em solid $white;
	}
}

 /************** DEVELOPMENT FEATURES ***************/

.development{
	padding: 0 2em; 
	padding-bottom:1.3em;
	background-color: $white;
}

/* FEATURES */

.features{
   	@include wrapper();
   	padding-top: .2em;
	p{
		padding-top: 2em;
		padding-bottom: .4em;
	}
	.bg-section{
		background-color: $white;
		margin-top: 1em;
		padding-bottom:2em;
		padding-left:1em;
		padding-right: 2em;
		button{
			width: 100%;
			margin-top: 1em;	
			text-align: center;
		}
		article{
			width: 100%;
		}
	}
}

/* CARACTERISTICAS */

.ok{
	width: 100%;
	height: 18.75rem;
	background-color: $blue;
	color: $white;
	article{
		display: inline-block;
		width: 50%;
		margin-top: 3em;
		margin-left: .7em;
		font-size: 1.3em;	
	}
	figure{
		position: absolute;
		display: inline-block;
		margin-top: 5em; 
		right: 0;
		svg{
			width: 13em;
		}
	}
	.btn-exito{
		margin-top: 2em;
		margin-left: 1em;
	}
}
/* BACK */

.back{
	background-color: $white;
	display: inline-block;
	width: 100%;
	

	figure{
		display: inline-block;
		width: 60%;
		height: 10em;
		margin-top:2em;
		margin-left: 1em;

	}
	.back-title{
		font-family: $sans-serif;
		width: 30%;
		display: inline-block;
		font-size: 1.5em;
		text-align: center;
		margin-top: 3em;
		vertical-align: top;
		color: darken($blue, 10%);
		span{		
			font-weight: bolder;
		}
	}
}
.image-back{
	display: inline-block;
	//background-color: red;
	height: 20.75rem;
}
.article-back{
	//background-color: skyblue;
	display: inline-block;
	height: 20.75rem;
	padding: 6em 2em;


	[class*="icon-"]{
		padding: 0 .3em;

	}
	.icon-right-quote{
		display: inline-block;
		position: absolute;
		padding-top: .2em;
		margin-left: .2em;
			
	}
}
 	.text-back{
 		display: inline;
 		line-height: 1.5rem;
 	}
.add-presupuesto{
	margin-top: 2em;
	text-align: center;
	input{
		border: none;
		border-bottom: 2px solid $color-text-ligthten;
		padding-bottom: .3rem;
	}
	input[name="telefono"]{
			width: 5.3rem;
		}
	input[name="mail"]{
			width: 12rem;
			margin-right: 1rem;
		}
}	
.btn-add-presupuesto{
	text-align: center;
	margin-top: 1.7rem;
}

/* PODIO */

.posicionate{
	width: 100%;
	background-color: lighten($color-text-ligthten,40%);
	//background-size: cover;
	//background-repeat: no-repeat;
	//background-image: url("../images/fondo-podio.png");

	
	
}
.image-position{
	height: 21em;
	position: relative;

	.title-posicionate{
		width: 16em;
		padding-top: 1.4em;
		text-align: center;
		font-size: 1.3em;	
		color: $gray;
		left: 50%;
		margin-left: -8em;
		position: absolute;
	
		span{
			font-weight: 800;
		}
	}
}
.article-position{
	//background-color: skyblue;
	display: inline-block;
	height: 21rem;
	padding: 6em 2em;

	[class*="icon-"]{
		padding: 0 .3em;
	}
	.icon-right-quote{
		display: inline-block;
		position: absolute;
		padding-top: .2em;
		margin-left: .2em;
	}
}

.podio{
	@include translate();
	width: 14em;
	height: 11em;

}
	.btn-posicionate{
		margin-left: 15%;
		margin-top: 1em;


	
	}

 	.text-position{
 		
 		display: inline;
 		line-height: 1.5rem;
 	}

/* FOOTER */

footer{
	width: 100%;
	height: 100%;
	background-color: $bg-footer;
	position: relative;
}
.footer{	
	@include wrapper();
	font-size: 1.3em;
	padding-top:2rem;
}
.footer__menu{
	border-bottom:2px solid $color-text-footer;
	color: $color-text-footer;
	padding-bottom: .3rem;
		&:not(:first-child){
			padding-top:.8rem;
		}
	div{
		float: right;
	}
}
.mapa--web{
	color: $color-text-footer;
	font-size: .8em;
	padding-top: .6em;
	&.mapa--web--displayed{
		display: none;
		}
	li:last-child{
		padding-bottom:.4em;
		}
	a{
		display: block;
		padding:.5em 1em 0;
		font-style: italic;
	}
}
.last--works{
	color: $color-text-footer;
	font-size: .8em;
	padding-top: .6em;
	
	&.footer-last-works-displayed{
		display: none;
		}
	li:last-child{
		padding-bottom:.4em;; 
		}
	a{
		display: block;
		padding:.5em 1em 0;
		font-style: italic;
	}
}
.rrss{
	color: $color-text-footer;
	font-size: 1em;
	padding-top: .6em;
	padding-bottom: .3em;
	
	&.footer-rrss-displayed{
		display: none;
		}
	a{
		display: block;
		padding:.5em 1em 0;
		font-style: italic;
	}
}
.contactanos{
	color: $color-text-footer;
	font-size: 1em;
	padding-top: 1em;

	div{
		padding-bottom: .5em;
	}

	[class*="title-"]{
		font-size: .7em;
		vertical-align: middle;
		display: inline-block;
		margin-left: 1em; 
	}
	[class*="icon-"]{
		font-size: .9em;
		width: 15px;
	}

	&.footer-contactanos-displayed{
		display: none;
	}
	
}

.footer__logo{
	position: absolute;
	width: 19.5em;
	height: 10em;
	right: 2em;
}
[class*='icon-']{	
	
	cursor: pointer;
	font-size: 1.4em;
}
.enlaces-footer{
	@include wrapper();
	padding-top: 10.5rem;
	text-align: right;
	width: 100%;
}
.avisos-legales{
	padding-right: .2em;
	color: $color-text-footer;
	font-size: .72rem;
	ul{
		width: 100%;
	}
	li{
		position: relative;
		display: inline;
		&:not(:last-child)::after{
			content:'';
			position: absolute;
			height: 1.1em;
			width: 1px;
			background-color: $color-text-footer;


		}
	}	
	a{
		padding: .2em .4em;
	}
}
.copy{
	background-color: $color-text-footer;
	width: 100%;
	font-size: .6em;
	color: darken($color-text-footer,20%);
	padding-top: .2em;
	padding-right:.8em;

	
}
/******** MEDIA QUERIES **********/

@media screen and (min-width: em(625)){
	
	
	
}

@media screen and (min-width: em(716)){
	
		/* HEADER */

#main-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $white;

		.menu{
			display: none;
		}

		nav{
			width: auto;
			height: auto;
			position:relative;
			background-color: transparent;
			text-align: left;
			font-size: .9rem;
			box-shadow:none;
			display: inline-block;
	
			.nav__menu{
				display: flex;
				padding: none;
				li:not(:last-child){
					padding-bottom: none;
				}
				li{
					padding:0 .5em;
					color: $gray;
				}
			}

		
			.sub-menu-servicios{
					display: none;
					margin-left: 0;
					background-color: $white;
					position: absolute;
					font-style: $italic;
					padding: .8em 0;  
					box-shadow: 5px 5px 9px rgba(0,0,0,.4);
				li{
					color: lighten($gray,20);
					font-size: 1em;
					padding:0 0;
					padding-right: .5em; 
					a{
						padding: .9em .5em;
					}
				}
			}
			
			#icon-close{
				display: none;	
			}			
			
			a{
				display: block;
				padding: 1rem .5em;
				&:hover{
					color: $blue;
				}
			
				.nav__last-item{
					padding-bottom: none;
				
			    }
			}
		}
	}	
	/* END HEADER */

	.features{
	   	display: flex;
	   	flex-wrap: wrap;
	   	justify-content: space-between;
		.bg-section{
			width: 48%;
		}
	}
	/* CARACTERISTICAS */

	.ok{
		article{
			width: 40%;
			margin-left: 2.7em;
			
		}
		figure{
			margin-top: 2em; 
			svg{
				width: 20em;
				height: 13em;
			}
		}
		.btn-exito{
			margin-top: 2em;
			margin-left: 3.5em;
		}
	}

	/* BACK */

	.back{
		background-color: $white;
		display: flex;
		justify-content: space-between;
		padding-top: 1em;
		padding-bottom: 2em;
	}
	.image-back{
		width: 48%;
	}
	.article-back{
		width: 48%;
	}

	/* PODIO */

	.posicionate{
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		padding-top: 1em;
		padding-bottom: 2em;
		.title-posicionate{
			width: 16em;
			padding-top: .5em;
			text-align: center;
			font-size: 1.3em;	
			color: $gray;
			left: 50%;
			margin-left: -8em;
			position: absolute;
		
			span{
				font-weight: 800;
			}
	}
		
	}
	.image-position{
		width: 48%;
	}
	.article-position{
		width: 48%;
		margin-left: 1.5em; 
	}
	.podio{

		width: 16em;
		height: 13em;
	}
		.btn-posicionate{
			margin-left: 3.5em;
		}
	 	
} /* fin media query */

